<style>
  .custom-btn {
    background-color: #5A4181 !Important;
    border-color: #5A4181 !Important;
    color: whitesmoke;
  }
</style>

<%= form_with(model: entry) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation" class="form-group">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control", placeholder: "Title" %>
  </div>

  <br>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control", placeholder: "Description"%>
  </div>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :entry_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <br>

  <!-- use radiobutton no checkbox -->

  <div class="field form-group" id="is_private">
    <%= form.label :is_private, "Private", :value => true %>
    <%= form.radio_button :is_private, true, {:class => "is_private is_private_true"} %> |
    <%= form.label :is_private, "Public", :value => false %>
    <%= form.radio_button :is_private, false, {:class => "is_private is_private_false"} %>
  </div>

  <div class="field form-group" id="is_anon">
    <%= form.label :is_anon, "Anonymous", :value => true %>
    <%= form.radio_button :is_anon, true %> |
    <%= form.label :is_anon, "Named", :value => false %>
    <%= form.radio_button :is_anon, false %>
  </div>

  <br>

  <div class="actions form-group">
    <% if request.path != "/entries/new" %>
      <%= link_to 'Back', entries_path, class:"btn btn-secondary" %> |
      <%= form.submit "Update Dream", class:"btn custom-btn"%>
    <% else %>
      <%= form.submit "Create Dream", class:"btn custom-btn"%>
    <% end %>
  </div>
<% end %>

<script>
  // https://stackoverflow.com/questions/12459574/rails-show-fields-when-radio-button-is-checked
  $(".is_private").on("change", function(){
    $("#is_anon").toggle($(this).hasClass("is_private_false"));
  });
  
</script>
