<%= form_with(model: entry) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation" class="form-group">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control", placeholder: "Title" %>
  </div>

  <br>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control", placeholder: "Description"%>
  </div>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :entry_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <div class="field form-group">
    <%= form.label :test %>
    <%= form.text_area :test, class:"form-control", placeholder: "Test"%>
  </div>

  <!-- use radiobutton no checkbox -->

  <br>

  <div class="actions form-group">
    <% if request.path != "/entries/new" %>
      <%= link_to 'Back', entries_path, class:"btn btn-secondary" %> |
    <% end %>
    <%= form.submit class:"btn btn-secondary"%>
  </div>
<% end %>
