<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- All pages must include a title -->
  <title>Entries</title>
  <!-- For fonts-->
  <link rel="stylesheet" href="app/assets/stylesheets/application.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
  <!-- For Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<p id="notice"><%= notice %></p>
<h1 class="entries">My Entries</h1>
<table class="table">
  <thead>
    <tr>
      <th style="width: 30%">Title</th>
      <th style="width: 40%">Description</th>
      <th style="width: 30%">Date</th>
      <th colspan="6"></th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.title %></td>
        <td><span class="d-inline-block text-truncate" style="max-width: 300px;"><%= entry.description %></span></td>
        <td><%= entry.time.to_formatted_s(:long) %></td>
        <td style="padding-right:15px"><%= link_to entry  do %>
            <%=image_tag "eye.png" %>
            <% end %></td>
        <td style="padding-right:15px"><%= link_to edit_entry_path(entry) do %>
            <%= image_tag "pencil.png" %>
            <% end %></td>
        <td style="padding-right:15px"><%= link_to entry, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= image_tag "delete.png" %>
            <% end %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to new_entry_path do %>
    <%= image_tag "plus_sign.png" %>
  <% end %>

</body>
