<div class="description rounded" style="font-size: 16px !important; margin-bottom: 20px; text-align: left !important;">
  <p>
    <div class = "entry-title"><%= @entry.title %></div>
  </p>

  <p>
    <div class = "entry-description"><%= @entry.description %></div>
  </p>

  <p>
    <i>
      Dream is
      <% if @entry.is_private == true %>
        private
      <% else %>
        public
        <% if @entry.is_anon == true %>
          and anonymous
        <% end %>
      <% end %>
    </i>
  </p>
</div>

<% if @entry.user == current_user %>
  <%= link_to 'Edit', edit_entry_path(@entry), class:"btn btn-secondary" %>

  <!-- Added "Delete" button...
  <%= link_to 'Delete', @entry, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-secondary" %>
<% end %>

<!-- PUT LOGIC IN CONTROLLER OR SOMETHING -->
<!-- single button line that grabs the correct pathing, if possible -->
<!-- pass in @entry.user and current_user as arguments -->
<% if user_signed_in? %>
  <% if @entry.user == current_user %>

    <!-- should link back to explore if coming from explore -->
    <%= link_to 'Back', entries_path, class:"btn btn-secondary" %>

  <% else %>

    <%= link_to 'Back', home_explore_path, class:"btn btn-secondary" %>

  <% end %>
<% else %>

  <%= link_to 'Back', home_explore_path, class:"btn btn-secondary" %>

<% end %>
